<!--[lists_controller.rb]と対応?-->

<h1>投稿一覧</h1>

<% @lists.each do |list| %>
 <!--eachメソッド..配列やハッシュがもつ要素を順番に取得して処理を実行したい時に使用-->
  <!--each文には「=」不要-->
<!--Listレコードの数だけ繰り返し処理を行います。-->

  <p>タイトル</p>
  <!--以下
  <span>< %= list.title %></span> を削除して、
  以下コードに変更 -->
  <!--一覧画面から詳細画面へ遷移するリンクを設定します。
  リンクを設定するには、link_toメソッドを利用-->
  <span>
    <%= link_to list.title, list_path{list.id} %>
    <!--< %= link_to 表示させるテキスト , リンク先URL [,オプション] %>-->
  </span>
    <!--list.[カラム名]と記述することで、レコードのカラムの内容を表示-->

<% end %>