<!--[lists_controller.rb]と対応?-->

<div class="list-wrap">
<% @lists.each do |list| %>
  <div class="list-box">
    <% if list.image.attached? %>
      <%= image_tag list.image, size: "200x200" %>
    <% else %>
      <%= image_tag 'no_image_dmm', size: "200x200" %>
    <% end %>
    <div class="list-comment">
      <span class="list-body"><%= list.body %></span>
      <span class="list-title"><%=link_to list.title, list_path(list.id) %></span>
    </div>
  </div>
<% end %>
</div>


<!--以下アプ完c11以前-->
<!--<h1>投稿一覧</h1>-->

<!--< % @lists.each do |list| %>-->
 <!--eachメソッド..配列やハッシュがもつ要素を順番に取得して処理を実行したい時に使用-->
  <!--each文には「=」不要-->
<!--Listレコードの数だけ繰り返し処理を行います。-->

  <!--<p>タイトル</p>-->
  <!--以下
  <span>< %= list.title %></span> を削除して、
  以下コードに変更 -->
  <!--一覧画面から詳細画面へ遷移するリンクを設定します。
  リンクを設定するには、link_toメソッドを利用-->
  <!--<span>-->
  <!--< %=link_to list.title, list_path(list.id) %>-->
  <!--< %= link_to 表示させるテキスト , リンク先URL [,オプション] %>-->
  <!--</span>-->
    <!--list.[カラム名]と記述することで、
    レコードのカラムの内容を表示-->

  <!--<p>画像</p>-->
  <!--< % if list.image.attached? %>-->
    <!--attached?は、画像が存在していればtrue、
    存在していなければfalseを返します-->
    <!--< %= image_tag list.image, size: "200x200" %>-->
  <!--< % else %>-->
    <!--< %= image_tag 'no_image_dmm', size: "200x200" %>-->
  <!--listに紐ついているimageをimage_tagに渡すことで
  画像を表示することができます-->
  <!--今回の場合では、
  imageが存在していれば、list.imageを表示し、
  なければ用意したno_imageを表示するとなっている-->
  <!--< % end %>-->
<!--< % end %>-->