<h2>タイトル</h2>
<p><%= @list.title %></p>

<h2>本文</h2>
<p><%= @list.body %></p>

<!--本当にURLによって取得するレコードが
変わっているのかどうかを確認するため、
ビューに記述をしていきます。
app/views/lists/show.html.erbを開きましょう。-->
<!--「https://...amazonaws.com/lists/1」
で確認してみる。「lists/2」-->
